@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}

#root, #root-1 {
    width: 100%;
    min-height: 100vh;
    padding: 0.625rem 5%;
    background-color: rgb(255, 253, 253);

}

#cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid black;

}

#cabecalho .logo{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.375rem;

}

.logo img {
    height: 3.438rem;
    width: 3.438rem;
    padding: 0.313rem;

}

a {
    color: black;
    text-decoration: none;

}

a:hover {
    color: rgb(0, 178, 0);

}

#menu-btn:hover {
    color: black;

}

.span_1 {
    font-size: 1.5rem;
    padding-left: 2rem;
    justify-content: space-between;

}

#lupa, #pipeline {
    width: 1.5rem;
    height: 1.5rem;

}

#cadastrese, #entrar {
    width: 8rem;
    height: 5rem;

}

.btn {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 2.5px solid black;

}

.cadastro, .entrar {
    background-color: white;

}

.noticias {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

  }
  
.noticias-row {
    display: flex;
    gap: 0.625rem;

}

.noticia_1, .noticia_3 {
    flex: 75%;

}
  
.noticia_2, .noticia_4 {
    flex: 25%;

}
  
iframe {
    width: 100%;
    height: 31.25rem;
    border: none;
}

.form-usuario {
    margin-top: 0.5rem;

}

.inputs-usuario {
    background-color: beige;
    margin-top: 0.5rem;

}

.button-usuario {
    background-color: rgb(94, 238, 238);
    cursor: pointer;
    margin-top: 0.5rem;
    padding: 0.25rem;

}

.button-usuario:hover {
    border: inset;
    
}

#dados-cadastrados {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 2rem;

}
