# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
versao-1.6/client-futeboltotal/node_modules

# testing


# next.js

# production

# misc

# debug
npm-debug.log
yarn-debug.log
yarn-error.log

# local env files
*.env

# vercel

# typescript
