/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */

.h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
    display: flex;
    color: rgb(0, 178, 0);
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid black;

}

.container {
    margin-top: 1rem;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;

}

.table {
    margin: 0.75rem auto;
    /* border: 1px solid green; */

}

.items {
    font-size: 1.75rem;
    height: 2rem;

}

.tamanho1 {
    width: 7rem;
    text-align: left;
    
}

.tamanho2 {
    width: 17rem;
    text-align: left;

}

.tamanho3 {
    width: 12.5rem;
    text-align: left;

}

.padding1 {
    padding-right: 3.5rem;
    text-align: right;

}

.padding2 {
    padding-right: 3rem;
    text-align:right;

}

.padding3 {
    padding-right: 5.5rem;
    text-align: right;

}

.table thead tbody {
    border: 1px solid green;
}
